.menu ul{ 
   	display: flex;
    list-style-type: none;
  	padding: 10px;
}

.menu li{
	border: 1px solid lightblue ;
	display: inline-block ;
	padding: 5px;

}

.menu a{
	display: block ;
	padding: 5px ;

}

.menu a:hover{
	background-color: whitesmoke;
	color: green;

}

.menu a:visited{
	color: red;
}

.menu a.is-current{
	background-color: gray ;
	color: lightgray;
	font-style: italic;
	border-width:5px;  
    border-left-style: double;
    border-top-style: double;
    border-right-style: double;
}